.container {
  position: relative;
  text-align: center;
}

.messages-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: left;
}

.messages {
  height: 500px;
  width: 500px;
  border-style: solid;
  overflow-y: scroll;
}